/*

  BASSCSS

  Part reset, part boilerplate, part framework, all minimal.

  BASSCSS is a small reset and collection of simple type and layout
  classes that can be used as the basis for any web project.
  Use it out of the box or as a base for a larger SASS project.


  Contents:
  1. Reset
  2. Typography
     a. Default Font Stack
     b. Base Type Scale
     c. Responsive Type Scale
     d. Utilities
  3. Layout
     a. Margins
     b. Padding
     c. Display
     d. Utilities


  Made with love by Jxnblk

*/
body, h1, h2, h3, h4, h5, h6, dl, ol, ul, p,
button, input, select, textarea {
  margin: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block; }

html, body {
  height: 100%; }

body {
  color: #444444;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 300; }

a, a.light-link {
  color: white;
  text-decoration: none; }
  a:hover, a.light-link:hover {
    color: #ffde30; }

a svg, a.light-link svg {
  fill: white;
  text-decoration: none; }
  a svg:hover, a.light-link svg:hover {
    fill: #ffde30; }

a.yellow-link {
  color: #ffde30; }
  a.yellow-link:hover {
    color: #fcd400; }

a.dark-yellow-link {
  color: #c9a900; }
  a.dark-yellow-link:hover {
    color: #967e00; }

a.mid-gray-link {
  color: #898989;
  text-decoration: none; }
  a.mid-gray-link:hover {
    color: #707070; }

a.dark-link {
  color: #444444;
  text-decoration: none; }
  a.dark-link:hover {
    color: #777777; }

a.dark-link svg {
  fill: #444444;
  text-decoration: none; }
  a.dark-link svg:hover {
    fill: #fcd400; }

h1, .h1, h2, .h2 {
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif; }

h1, .h1 {
  font-size: 2rem;
  line-height: 1.25; }

h2, .h2 {
  font-size: 1.5rem;
  line-height: 1.25; }

h3, .h3 {
  font-size: 1.25rem;
  line-height: 1.25rem; }

h4, h5, h6, dl, ol, ul, p, .p {
  font-size: 1.125rem;
  line-height: 1.15rem; }

small, .small {
  font-size: .875rem; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

@media (min-width: 768px) and (max-width: 1023px) {
  .responsive .h-mega {
    font-size: 6rem; }
  .responsive .h1, .responsive.h1 {
    font-size: 4rem; }
  .responsive .h2, .responsive.h2 {
    font-size: 2rem; }
  .responsive .h3, .responsive.h3 {
    font-size: 1.5rem; }
  .responsive .p, .responsive.p {
    font-size: 1.125rem;
    line-height: 1.25rem; }
  .responsive .small, .responsive.small {
    font-size: 1rem; }
  .responsive .img-small {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 40px; }
  .responsive .h-12rem {
    height: 10rem; } }
@media (min-width: 1024px) {
  .responsive .h1, .responsive.h1 {
    font-size: 6rem; }
  .responsive .h2, .responsive.h2 {
    font-size: 3rem; }
  .responsive .p, .responsive.p {
    font-size: 1.125rem;
    line-height: 1.25rem; }
  .responsive .half-width {
    width: 50%; }
  .responsive .one-third-width {
    width: 40%; }
  .responsive .two-thirds-width {
    width: 60%; }
  .responsive .h-12rem {
    height: 12rem; }
  .responsive .july-bg-image {
    background-position: 50% 30%; } }

.full-width {
  width: 100%; }

.half-width {
  width: 100%; }

.one-third-width {
  width: 100%; }

.two-thirds-width {
  width: 100%; }

.h-12rem {
  height: 6rem; }

strong, .bold {
  font-weight: 900; }

.regular {
  font-weight: normal; }

.light {
  font-weight: 300; }

.caps {
  text-transform: uppercase;
  letter-spacing: .2em; }

.center {
  text-align: center; }

.right-align {
  text-align: right; }

.left-align {
  text-align: left; }

.list-none {
  list-style-type: none;
  padding-left: 0; }

.type-margins h1, .type-margins .h1 {
  margin-bottom: 1rem; }
.type-margins h2, .type-margins .h2 {
  margin-bottom: 1rem; }
.type-margins h3, .type-margins h4, .type-margins h5, .type-margins h6, .type-margins p, .type-margins dl, .type-margins ol, .type-margins ul {
  margin-bottom: 1rem; }

.wrap {
  max-width: 768px;
  margin-right: auto;
  margin-left: auto; }

.m1 {
  margin: 1rem; }

.mt1 {
  margin-top: 1rem; }

.mr1 {
  margin-right: 1rem; }

.mb1 {
  margin-bottom: 1rem; }

.ml1 {
  margin-left: 1rem; }

.m2 {
  margin: 2rem; }

.mt2 {
  margin-top: 2rem; }

.mr2 {
  margin-right: 2rem; }

.mb2 {
  margin-bottom: 2rem; }

.ml2 {
  margin-left: 2rem; }

.m3 {
  margin: 3rem; }

.mt3 {
  margin-top: 3rem; }

.mr3 {
  margin-right: 3rem; }

.mb3 {
  margin-bottom: 3rem; }

.ml3 {
  margin-left: 3rem; }

.m4 {
  margin: 4rem; }

.mt4 {
  margin-top: 4rem; }

.mr4 {
  margin-right: 4rem; }

.mb4 {
  margin-bottom: 4rem; }

.ml4 {
  margin-left: 4rem; }

.mxa {
  margin-right: auto;
  margin-left: auto; }

.p1 {
  padding: 1rem; }

.px1 {
  padding-right: 1rem;
  padding-left: 1rem; }

.py1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p2 {
  padding: 2rem; }

.px2 {
  padding-right: 2rem;
  padding-left: 2rem; }

.py2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p3 {
  padding: 3rem; }

.px3 {
  padding-right: 3rem;
  padding-left: 3rem; }

.py3 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.p4 {
  padding: 4rem; }

.px4 {
  padding-right: 4rem;
  padding-left: 4rem; }

.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.py6 {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.py10 {
  padding-top: 10rem;
  padding-bottom: 10rem; }

.min-y100 {
  min-height: 100%; }

.t0 {
  top: 0; }

.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.table {
  display: table;
  width: 100%; }

.table-cell {
  display: table-cell;
  vertical-align: middle; }

.middle {
  vertical-align: middle; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.clearfix {
  overflow: hidden; }

.left {
  float: left; }

.right {
  float: right; }

.fit {
  max-width: 100%; }

.hidden {
  overflow: hidden; }

.bg-yellow {
  background-color: #ffde30; }

.yellow {
  color: #ffde30; }

.mid-yellow {
  color: #fcd400; }

.dark-yellow {
  color: #c9a900; }

.bg-dark-yellow {
  background-color: #c9a900; }

.white {
  color: white; }

.bg-off-white {
  background-color: #f9f9f9; }

.bg-dark-gray {
  background-color: #444444; }

.dark-gray {
  color: #444444; }

.bg-mid-gray {
  background-color: #898989; }

.mid-gray {
  color: #898989; }

.bg-light-gray {
  background-color: #d9d9d9; }

.light-gray {
  color: #d9d9d9; }

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.bg-fixed {
  background-attachment: fixed; }

.contain-left {
  background-size: cover;
  background-position: left, bottom;
  background-repeat: no-repeat; }

.soundsradcakes-icon {
  width: 32px;
  margin-right: 0.5rem; }

.img-feature {
  width: 100%;
  height: 20rem;
  border-radius: 20px; }

.july-bg-image {
  background-color: #f9f9f9;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  margin: 0 auto; }

.border-light-opaque {
  box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.1); }

.border-dark-opaque {
  box-shadow: 0 0 0 12px rgba(17, 17, 17, 0.1); }

.border-radius {
  border-radius: 10px; }

.border-radius-top {
  border-radius: 10px 10px 0 0; }

.border-top-white {
  border-top: 0.6rem solid white; }

.border-bottom-white {
  border-bottom: 0.6rem solid white; }

.progress {
  -webkit-appearance: none;
  cursor: pointer;
  height: 0.3rem;
  width: 100%; }

.progress::-webkit-progress-bar {
  -webkit-appearance: none;
  background-color: white; }

.progress-dark::-webkit-progress-bar {
  -webkit-appearance: none;
  background-color: #444444; }

.progress::-webkit-progress-value {
  -webkit-appearance: none; }

.progress-white::-webkit-progress-value {
  background-color: #ffde30; }

.progress-white-alt::-webkit-progress-bar {
  background-color: white; }

.progress-dark::-webkit-progress-value {
  background-color: #fcd400; }

.progress-dark-alt::-webkit-progress-bar {
  background-color: #444444; }

.progress-time {
  line-height: 2.25; }

.pad {
  margin-top: 0.5rem; }

.mt-05 {
  margin-top: 0.5rem; }

.mb-05 {
  margin-bottom: 0.5rem; }

.m-02 {
  margin: 0.2rem; }

.m-03 {
  margin: 0.3rem; }

.icon-play, .icon-pause {
  height: 23px;
  width: 23px; }

.icon-previous, .icon-skip {
  height: 18px;
  width: 18px;
  margin-top: 10px; }

.btn {
  border-radius: 6px;
  width: auto;
  box-shadow: inset 0 0 0 3px white; }

.btn-yellow:hover {
  color: #898989;
  background-color: #fcd400;
  box-shadow: 0 0 0 1px #fcd400; }

.icon-feature {
  height: 36px;
  width: 36px; }

.anim-popin {
  -webkit-animation: popin .1s;
  animation: popin .1s;
  transition-duration: .2s;
  transition-timing-function: ease; }
