<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sounds Radcakes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="favicon.png" />
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png" />
  <link rel="stylesheet" href="plangular.css"/>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700|Rum+Raisin|Port+Lligat+Slab' rel='stylesheet' type='text/css'>

  <script src="//connect.soundcloud.com/sdk.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
  <script src="plangular.js"></script>

</head>
<body ng-app="plangular">

<header class="pad4-res bg-pink white pos-rel fade-in">
      <h1 class="massive fancy-font">SoundsRadcakes</h1>
      <p>Muuuuuuuusic</p>
    </div>
  </div>
</header>

<main class="center">

  <section class="float-up anim-delay-4">

    <p>Music goes here.</p>

    <div class="d-center">

      <article plangular data-src="'https://soundcloud.com/broccolini/sets/loveandheartbreak'" class="grid-1 mb2 bd bg-light-gray rounded">
        <div class="pad1 bd bg-center bg-cover white shadow-darken" style="background-image: url(images/plants.jpg)">
          <p>{{ playlist.user.username }}</h1>
          <h1 class="">{{ playlist.title }}</h1>
          <div class="media">
            <div class="img mr1">
              <a href="" ng-click="player.previous(playlist)" class="fl white"><i class="icon-previous p tappad"></i></a>
              <a href="" ng-click="player.playPlaylist(playlist)" ng-hide="player.tracks == playlist.tracks && player.playing" class="fl white"><i class="icon-play h3 tappad"></i></a>
              <a href="" ng-click="player.pause()" ng-show="player.tracks == playlist.tracks && player.playing" class="fl white"><i class="icon-pause h3 tappad"></i></a>
              <a href="" ng-click="player.next(playlist)" class="fl white"><i class="icon-skip p tappad"></i></a>
            </div>
            <div class="bd">
              <progress value="{{ currentTime / duration}}" ng-click="seekTo($event)" class="mt1 progress progress-white w100">{{ currentTime / duration}}</progress>
              <small class="fl">{{ currentTime | playTime }}</small>
              <small class="fr">{{ duration | playTime }}</small>
            </div>
          </div>
        </div>
        <div class="pad1 bd">
          <ol class="mid-gray">
            <li ng-repeat="track in playlist.tracks" class="ml2"><a href="" ng-click="player.play(playlist.tracks, $index)" class="db" ng-class="{ 'dark-gray': (player.playing || player.paused) != track, 'mid-gray': (player.playing || player.paused) == track }">
              <strong>{{ track.user.username }}</strong> - {{ track.title }}
            </a></li>
          </ol>
          <a ng-href="{{ playlist.permalink_url }}" target="_blank" class="fr small mid-gray">View on SoundCloud</a>
        </div>
      </article>

    </div>

  </section>


</main>

<footer class="media media-fold">
  
  <p class="bd tappad">Powered by SoundCloud. Made with love by <a href="http://broccolini.net">Broccolini</a></p>
</footer>

</div>
 
</body>
</html>
