<footer class="py1 px2 bg-yellow opacity-delay7">
  <p class="regular dark-yellow">Made for your ears by <a class="dark-yellow-link" href="http://broccolini.net">Broccolini</a>.</p>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49766105-1', 'soundsradcakes.com');
  ga('send', 'pageview');
</script>
    </body>
</html>