<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SoundsRadcakes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="/favicon.png" />
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png" />
  <link rel="stylesheet" href="/scss/soundsradcakes.css"/>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic|Roboto:900' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
  <script src="/js/plangular.js"></script>

</head>
  <body ng-app="plangular" class="responsive">