<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/images/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon.png" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/soundsradcakes.css" media="screen" />

    <script src="//connect.soundcloud.com/sdk.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
    <script src="js/plangular.js"></script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>SoundsRadcakes</title>
    <meta name="description" content="Rad soundcloud sets made by Diana Mounter">
  </head>
    <body>