<div plangular="{{include.playlist}}">
{% raw  %}
<div class="media block py1">
  <div class="left previous-control mobile mobile-hide">
    <a class="dark-link"
      title="Play Previous Track"
      ng-click="previous()">
      <svg class="icon geomicon icon-previous pad mr1" data-icon="previous" viewBox="0 0 32 32" style="fill:currentcolor"><path d="M4 4 H8 V14 L28 4 V28 L8 18 V28 H4 z "></path></svg>
    </a>
  </div>
  <div class="left play-control pause-control icon-play">
    <a ng-click="playPause(index)" title="Play/Pause" class="dark-link">
      <svg ng-if="player.playing !== track.src" class="icon geomicon" data-icon="play" viewBox="0 0 32 32" width="32" height="32" style="fill:currentcolor"><path d="M4 4 L28 16 L4 28 z "></path></svg>
      <svg ng-if="player.playing === track.src" class="icon geomicon" data-icon="pause" viewBox="0 0 32 32" width="32" height="32" style="fill:currentcolor"><path d="M4 4 H12 V28 H4 z M20 4 H28 V28 H20 z "></path></svg>
    </a>
  </div>
  <div class="left skip-control mobile-hide">
    <a href="" class="dark-link"
      title="Play Next Track"
      ng-click="next()">
      <svg class="icon geomicon icon-skip pad ml1" data-icon="next" viewBox="0 0 32 32" style="fill:currentcolor"><path d="M4 4 L24 14 V4 H28 V28 H24 V18 L4 28 z "></path></svg>
    </a>
  </div>
  <div class="right progress-time mobile-hide ml1">
    <span class="">{{ currentTime | hhmmss }} / {{ duration | hhmmss }}</span>
  </div>

  <div class="fit hidden">
    <progress
    class="progress progress-dark progress-gray ml1"
    ng-click="seek($event)"
    ng-value="currentTime / duration || 0">
    {{ currentTime / duration }}
    </progress>
  </div>
</div>
<div class="playlist-tracks fadein">
    <div class="media py1">
      <ul class="left-align block">
        <li ng-repeat="track in tracks" class="pad">
          <a class="regular dark-link" href="" 
            ng-click="playPause($index)"
            ng-class="{'is-active yellow-link': player.playing === track.src}">
            <small>{{ track.user.username }}</small> <span class="h3 regular block mb1">{{ track.title }}</span>
          </a>
        </li>
      </ul>
    </div>
</div>
<div class="mb1">
  <p class="left py1 small light ">Playlist by {{playlist.user.username}} <span class="px1">|</span> 
  <a class="dark-link" ng-href="{{track.permalink_url}}">View on Soundcloud</a></p>
</div>
{% endraw  %}
</div>