---
layout: default
title:  "Music to work to"
---

<div class="fit bg-cover pt1 clearfix" style="background-image: url(/images/music-to-work-to.jpg)">
<section class="wrap py2">
{% raw  %}
<article plangular data-src="https://soundcloud.com/broccolini/sets/music-to-work-to" class="py1 px1 center bg-w100 bg-top" >
    <div class="playlist-header bg-cover py1 px1">
      <h1 class="white h2 regular mb1">{{ playlist.title }}</h1>
      <p class=" white mb1">{{ playlist.description }}</p> 
    <div class="media block white py1">
      <div class="left-controls left">
        <div class="left previous-control">
          <a class="" href="" ng-click="player.previous(playlist)" class=""><i class="p tappad white"></i>
          <svg class="white icon-previous pad mr1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <rect x="2" y="2" width="4" height="28" />
            <polygon points="28,2 2,16 28,30"/>
          </svg></a>
        </div>
        <div class="left pad play-control pause-control">
          <a href="" ng-click="player.playPlaylist(playlist)" ng-hide="player.tracks == playlist.tracks && player.playing" class="h3 tapped">
          <svg class="icon icon-play svg-geo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <polygon points="2,2 30,16 2,30"/>
          </svg></a>
          <a href="" ng-click="player.pause()" ng-show="player.tracks == playlist.tracks && player.playing" class="">
           <svg class="icon icon-pause" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <rect x="2" y="2" width="10" height="28"/>
            <rect x="20" y="2" width="10" height="28"/>
          </svg></a>
        </div>
        <div class="left skip-control">
          <a href="" ng-click="player.next(playlist)" class="dark-gray"><i class="icon icon-skip p tappad"></i>
          <svg class="icon-skip pad ml1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
          <polygon points="2,2 28,16 2,30"/>
          <rect x="26" y="2" width="4" height="28" />
          </svg></a>
        </div>
      </div><!-- End player controls -->
      <div class="right progress-time">
        <small class="fl">{{ currentTime | playTime }} | </small>
        <small class="fr">{{ duration | playTime }}</small>
      </div>   
      <div class="fit hidden">
        <progress value="{{ currentTime / duration}}" ng-click="seekTo($event)" class="progress progress-gray px1">{{ currentTime / duration}}</progress>
      </div>    
    </div>
    </div>
    <div class="playlist-tracks">
    <div class="media py1">
      <ul class="left-align block px1 clearfix">
        <li ng-repeat="track in playlist.tracks" class="pad"><a href="" ng-click="player.play(playlist.tracks, $index)" class="db" ng-class="{ 'white': (player.playing || player.paused) != track, 'white': (player.playing || player.paused) == track }">
              <small>{{ track.user.username }}</small> <span class="h3 regular block mb1">{{ track.title }}</span>
            </a></li>
      </ul>
      <a ng-href="{{ playlist.permalink_url }}" target="_blank" class="block small white mt2 left-align px1">View on SoundCloud</a>
    </div>
    </div>
  </article>
{% endraw %}
</section>

