---
layout: default
title:  "Magic Summer"
---
<div class="fit bg-cover bg-fixed pt1" style="background-image: url(/images/plants.jpg)">
<section class="wrap py2">
{% raw  %}
<article plangular data-src="http://soundcloud.com/jxnblk/sets/magic-summer" class="py1 px1 center bg-w100 bg-top" >
	  <div class="playlist-header bg-cover py1 px1">
      <h1 class="h2 regular mb1 dark-gray">{{ playlist.title }}</h1>
      <p class=" white mb1">{{ playlist.description }}</p> 
    <div class="media block py1">
      <div class="left-controls left">
        <div class="left previous-control">
          <a href="" ng-click="player.previous(playlist)" class="dark-link">
            <div plangular-icon="previous" class="icon-previous pad mr1"></div>
          </a> 
        </div>
        <div class="left pad play-control pause-control">
          <a href="" ng-click="player.playPlaylist(playlist)" ng-hide="player.tracks == playlist.tracks && player.playing" class="dark-link">
            <div plangular-icon="play" class="icon icon-play"></div>
          </a>
          <a href="" ng-click="player.pause()" ng-show="player.tracks == playlist.tracks && player.playing" class="dark-link">
           <div plangular-icon="pause" class="icon icon-pause"></div>
           </a>
        </div>
        <div class="left skip-control">
          <a href="" ng-click="player.next(playlist)" class="dark-link"><i class="icon icon-skip"></i>
            <div plangular-icon="next" class="icon-skip pad ml1"></div>
          </a>
        </div>
      </div><!-- End player controls -->
      <div class="right progress-time">
        <small class="fl">{{ currentTime | playTime }} | </small>
        <small class="fr">{{ duration | playTime }}</small>
      </div>   
      <div class="fit hidden">
        <progress value="{{ currentTime / duration}}" ng-click="seekTo($event)" class="progress progress-dark px1">{{ currentTime / duration}}</progress>
      </div>    
    </div>
    </div>
    <div class="playlist-tracks">
    <div class="media py1">
		  <ul class="left-align block px1">
		    <li ng-repeat="track in playlist.tracks" class="pad"><a href="" ng-click="player.play(playlist.tracks, $index)" class="db" ng-class="{ 'white': (player.playing || player.paused) != track, 'yellow': (player.playing || player.paused) == track }">
              <small>{{ track.user.username }}</small> <span class="h3 regular block mb1">{{ track.title }}</span>
            </a></li>
		  </ul>
      <p class="block white mt2 left-align px1">Playlist by {{ playlist.user.username }}</p>
		  <a ng-href="{{ playlist.permalink_url }}" target="_blank" class="block small white mt1 left-align px1">View on SoundCloud</a>
		</div>
    </div>
	</article>
{% endraw %}
</section>
