---
layout: default
title:  "iso50 playlist 16"
---
{% raw  %}
<article plangular data-src="http://soundcloud.com/jxnblk/sets/iso50-playlist-16" class="py2 px2 bg-dark-gray center">
  <h1 class="setname f-center white h2">{{ playlist.title }}</h1>
  <div class="media bg-center">
    <div class="bg-center f-center">
      <a href="" ng-click="player.previous(playlist)" class="white"><i class="icon-previous p tappad"></i></a>
      <a href="" ng-click="player.playPlaylist(playlist)" ng-hide="player.tracks == playlist.tracks && player.playing" class="white"><i class="icon-play h3 tappad"></i></a>
      <a href="" ng-click="player.pause()" ng-show="player.tracks == playlist.tracks && player.playing" class="white"><i class="icon-pause h3 tappad"></i></a>
      <a href="" ng-click="player.next(playlist)" class="white"><i class="icon-skip p tappad"></i></a>
    </div>
    <div class="bd bg-center center">
      <progress value="{{ currentTime / duration}}" ng-click="seekTo($event)" class="mt1 progress progress-white w100">{{ currentTime / duration}}</progress>
      <small class="fl">{{ currentTime | playTime }}</small>
      <small class="fr">{{ duration | playTime }}</small>
    </div>
  </div>
<div class="media white bd bg-center padtb3">
  <ol class="left-align">
    <li ng-repeat="track in playlist.tracks" class="lh2"><a href="" ng-click="player.play(playlist.tracks, $index)" class="db" ng-class="{ 'white': (player.playing || player.paused) != track, 'mid-gray': (player.playing || player.paused) == track }">
      <strong>{{ track.user.username }}</strong> - {{ track.title }}
    </a></li>
  </ol>
  <a ng-href="{{ playlist.permalink_url }}" target="_blank" class="fr small mid-gray">View on SoundCloud</a>
</article>
{% endraw %}