---
layout: default
title:  "I'm here now"
---
{% raw  %}
<article plangular data-src="http://soundcloud.com/broccolini/sets/im-here-now" class="py2 px2 center bg-w100 bg-top">
	  <h1 class="h2 mb1 regular">{{ playlist.title }}</h1>
    <p class="mb1">{{ playlist.description }}</p>	  
    <div class="media block mt1">
	    <div class="left">
	      <a href="" ng-click="player.previous(playlist)" class="dark-gray"><i class="icon-previous p tappad"></i></a>
	      <a href="" ng-click="player.playPlaylist(playlist)" ng-hide="player.tracks == playlist.tracks && player.playing" class="dark-gray h3 tapped">
        <svg class="icon icon-play pad svg-geo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
        <polygon points="2,2 30,16 2,30"/>
        </svg></a>
	      <a href="" ng-click="player.pause()" ng-show="player.tracks == playlist.tracks && player.playing" class="mid-gray">
         <svg class="icon icon-pause pad" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <rect x="2" y="2" width="10" height="28"/>
        <rect x="20" y="2" width="10" height="28"/>
        </svg></a>
	      <a href="" ng-click="player.next(playlist)" class="dark-gray"><i class="icon-skip p tappad"></i></a>
	    </div>
      <div class="right progress-time">
	      <small class="fl">{{ currentTime | playTime }} | </small>
	      <small class="fr">{{ duration | playTime }}</small>
      </div>    
      <div class="fit hidden">
        <progress value="{{ currentTime / duration}}" ng-click="seekTo($event)" class="progress progress-gray px1">{{ currentTime / duration}}</progress>
      </div>	  
    </div>	
    <div class="media py2">
		  <ol class="left-align block">
		    <li ng-repeat="track in playlist.tracks" class="pad"><a href="" ng-click="player.play(playlist.tracks, $index)" class="db" ng-class="{ 'dark-gray': (player.playing || player.paused) != track, 'mid-gray': (player.playing || player.paused) == track }">
              <strong>{{ track.user.username }}</strong> - {{ track.title }}
            </a></li>
		  </ol>
		  <a ng-href="{{ playlist.permalink_url }}" target="_blank" class="small mid-gray">View on SoundCloud</a>
		</div>
	</article>
{% endraw %}
