---
layout: default
title:  "Testing"
---
<div class="fit bg-cover bg-fixed pt1 border-lr-white" style="background-image: url(/images/making-shapes.jpg)">
  <section class="wrap py2">
  {% raw  %}
    <article plangular="http://soundcloud.com/broccolini/sets/making-shapes" class="py1 px1 center bg-w100 bg-top">

    <div class="playlist-header bg-cover py1 px1 fadein">
      <h1 class="white h2 bold mb1">Testing</h1>
      <p class=" white mb1">A mix of sexy beats inspired by the summer heat.</p>
      <div class="media block white py1">
        <div class="left previous-control">
          <a class=""
            title="Play Previous Track"
            ng-click="previous()">
            <svg class="icon geomicon icon-previous pad mr1" data-icon="previous" viewBox="0 0 32 32" style="fill:currentcolor"><path d="M4 4 H8 V14 L28 4 V28 L8 18 V28 H4 z "></path></svg>
          </a>
        </div>
        <div class="left pad play-control pause-control">
          <a ng-click="playPause(index)" title="Play/Pause" class="white">
            <svg ng-if="player.playing !== track.src" class="icon geomicon" data-icon="play" viewBox="0 0 32 32" width="32" height="32" style="fill:currentcolor"><path d="M4 4 L28 16 L4 28 z "></path></svg>
            <svg ng-if="player.playing === track.src" class="icon geomicon" data-icon="pause" viewBox="0 0 32 32" width="32" height="32" style="fill:currentcolor"><path d="M4 4 H12 V28 H4 z M20 4 H28 V28 H20 z "></path></svg>
          </a>
        </div>
        <div class="left skip-control">
          <a href="" class=""
            title="Play Next Track"
            ng-click="next()">
            <svg class="icon geomicon icon-skip pad ml1" data-icon="next" viewBox="0 0 32 32" style="fill:currentcolor"><path d="M4 4 L24 14 V4 H28 V28 H24 V18 L4 28 z "></path></svg>
          </a>
        </div>
        <div class="right progress-time">
          <samp class="white">{{ currentTime | hhmmss }} / {{ duration | hhmmss }}</samp>
        </div>

        <div class="fit hidden">
          <progress
          class="progress progress-white progress-gray px1"
          ng-click="seek($event)"
          ng-value="currentTime / duration || 0">
          {{ currentTime / duration }}
          </progress>
        </div>


      </div>
    </div>

      <div class="playlist-tracks fadein">
          <div class="media py1">
            <ul class="left-align block px1">
              <li ng-repeat="track in tracks">
                <a href="" 
                  ng-click="playPause($index)"
                  ng-class="{'is-active yellow': player.playing === track.src}">
                  {{track.user.username}} - {{track.title}}
                </a>
              </li>
            </ul>
          </div>
        <a ng-href="{{track.permalink_url}}">View on SoundCloud</a>
      </div>
        <p class="white light mt1">{{playlist.user.username}} - {{playlist.title}}</p>

    </article>

    

  {% endraw %}
  </section>
</div>