{% include header.html %}

<header class="bg-yellow py1 p1 block">
	<div class="clearfix">
		<a href="/"><img class="soundsradcakes-icon h1 left" src="/images/soundsradcakes-icon.svg">
	  	<h1 class="h-logo white pad">SoundsRadcakes</h1></a>
  	</div>
</header> 
<section class="bg-cover block clearfix py6 px2 border-lr-white border-top-white" style="background-image: url(/images/feeling-it.jpg)">
  <div class="wrap">
    <div class="center mt4 mb1 opacity-delay1">
<a class="block yellow-link" href="/posts/feeling-it/">
      <h1 class="h1 bold">Feeling it</h1>
</a>
      <p class="h3 regular center mb2 white">Warning: this playlist may give you an attack of the feels.</p>
    </div>
  </div>
</section>
  
  {{ content }} 
   
  {% include footer.html %}