{% include header.html %}

<header class="bg-yellow py1 p1 block full-width">
	<div class="clearfix">
		<a href="/"><img class="soundsradcakes-icon h1 left" src="/images/soundsradcakes-icon.svg">
	  	<h1 class="h-logo white pad">SoundsRadcakes</h1></a>
  	</div>
</header> 
<a class="yellow-link" href="/posts/im-here-now/">
<section class="bg-cover block clearfix py10 px2 border-lr-white border-top-white" style="background-image: url(/images/im-here-now2.jpg)">
  <div class="wrap">
    <div class="center mt4 mb1">
      <h1 class="h1 bold">I'm here now</h1>
      <p class="h3 regular center mb4 white">A mix of bouncy and mellow tracks and remixes from artists such as Ta-ku, Bonobo, Four Tet, and London Grammar. Inspired by my first few months in New York.</p>
    </div>
  </div>
</section>
</a>
  
  {{ content }} 
   
  {% include footer.html %}