{% include header.html %}
<header class="table bg-yellow min-y100">
	<div class="table-cell relative fit center">
		<img class="soundsradcakes-icon py1 h1" src="/images/soundsradcakes-icon.svg">
	  <a class="light-link" href="/"><h1 class="h1 h-logo white bold">SoundsRadcakes</h1></a>
    <p class="dark-yellow h3 regular px1">Musical playlists made and found by <a class="dark-yellow-link" href="http://broccolini.net">broccolini</a> </p>
    </div>
</header>  
  
  {{ content }} 
   
  {% include footer.html %}